@import 'tailwindcss';
@theme {
  /* Font Family */
  --font-family-sans: 'Poppins', sans-serif;

  /* Font Sizes */
  --font-size-3xl: 3.75rem; /* 60px */
  --font-size-2xl: 3rem; /* 48px */
  --font-size-xl: 2.5rem; /* 40px */
  --font-size-lg: 2.25rem; /* 36px */
  --font-size-md: 2rem; /* 32px */
  --font-size-sm: 1.75rem; /* 28px */
  --font-size-xs: 1.5rem; /* 24px */
  --font-size-base: 1rem; /* 16px */

  /* Line Heights */
  --line-height-tight: 1.2;
  --line-height-normal: 1.5;
  --line-height-relaxed: 1.75;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;

  /* Colors */
  --color-neutral-25: #fdfdfd;
  --color-neutral-50: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e9eaeb;
  --color-neutral-300: #d5d7da;
  --color-neutral-400: #a4a7ae;
  --color-neutral-500: #717680;
  --color-neutral-600: #535862;
  --color-neutral-700: #414651;
  --color-neutral-800: #252b37;
  --color-neutral-900: #181d27;
  --color-neutral-950: #0a0d12;
  --color-primary-100: #ead0cc;
  --color-primary-200: #b96155;
  --color-primary-300: #961200;
  --color-primary-400: #640c00;
  --color-base-white: #ffffff;
  --color-base-black: #000000;

  /* Spacing */
  --spacing-0: 0;
  --spacing-1: 0.25rem; /* 4px */
  --spacing-2: 0.5rem; /* 8px */
  --spacing-3: 0.75rem; /* 12px */
  --spacing-4: 1rem; /* 16px */
  --spacing-5: 1.25rem; /* 20px */
  --spacing-6: 1.5rem; /* 24px */
  --spacing-8: 2rem; /* 32px */
  --spacing-10: 2.5rem; /* 40px */
  --spacing-12: 3rem; /* 48px */
  --spacing-16: 4rem; /* 64px */

  /* Border Radius */
  --radius-none: 0;
  --radius-sm: 0.25rem; /* 4px */
  --radius-md: 0.5rem; /* 8px */
  --radius-lg: 0.75rem; /* 12px */
  --radius-xl: 1rem; /* 16px */
  --radius-full: 9999px;
}

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
  body {
    @apply text-neutral-25 bg-white;
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-normal);
  }
  h1 {
    @apply text-3xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
  h4 {
    @apply text-lg font-bold;
  }
}
